{
    "presets": [
        [
            "@babel/preset-react",
            {
                "pragma": "TinyReact.createElement",
                "throwIfNamespace": false,
                "runtime": "classic"
            }
        ]
    ]
}